
.about__container{
    box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25), 0 8px 16px -8px rgba(0,0,0,0.3), 0 -6px 16px -6px rgba(0,0,0,0.25);
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
    font-weight: 300;
}
.about__container .title{
    margin-top: 10px;
    font-size: 25px;
    width: 100%;
}
.about__container img{
   margin: 15px 25px;
    width: 100%;
    max-width: 400px;
}

.about__container span:last-child{
    display: block;
    margin-top: 10px;
}
span{
    text-decoration: none;
    color: #333333;
}

.about__back{
    width: 100px;
    border: 1px solid #adaeb9;
    border-radius: 5px;
    text-align: center;
    background-color: #adaeb9;
    margin-left: auto;
    margin-bottom: 10px;
}
.about__back a{
    color: #333333;
    text-decoration: none;
}


.asdqwe{
    width: 500px;
    height: 600px;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid black;
}